NET "clk" LOC="E3" | IOSTANDARD=LVCMOS33;
NET "clk" TNM_NET=sys_clk_pin; 
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%;

NET "anod(0)" LOC=J17 | IOSTANDARD=LVCMOS33;
NET "anod(1)" LOC=J18 | IOSTANDARD=LVCMOS33;
NET "anod(2)" LOC=T9 | IOSTANDARD=LVCMOS33;
NET "anod(3)" LOC=J14 | IOSTANDARD=LVCMOS33;

NET "catod(0)" LOC=T10 | IOSTANDARD=LVCMOS33;
NET "catod(1)" LOC=R10 | IOSTANDARD=LVCMOS33;
NET "catod(2)" LOC=K16 | IOSTANDARD=LVCMOS33;
NET "catod(3)" LOC=K13 | IOSTANDARD=LVCMOS33;
NET "catod(4)" LOC=P15 | IOSTANDARD=LVCMOS33;
NET "catod(5)" LOC=T11 | IOSTANDARD=LVCMOS33;
NET "catod(6)" LOC=L18 | IOSTANDARD=LVCMOS33;

NET "enable" LOC=V10 | IOSTANDARD=LVCMOS33;
NET "reset" LOC=N17 | IOSTANDARD=LVCMOS33;